
<!-- Conteúdo da página -->
<article>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body" style="min-height: 200px;">
   

      <div class="sd form clearfix">
        <!-- Itens por página -->
        <div class="pull-left">
          <!--<app-pag-ctrl
            [itemsPerPage]="itemsPerPage"
            [totalItems]="totalItems"
            (pageItemsChanged)="onPageItemsChange($event)">
          </app-pag-ctrl>
          -->
        </div>
        <div class="pull-right">
          <!-- Pesquisa -->
          <!--<div class="form-inline">
            <div class="form-group">
              <label for="pesquisar">
                <span class="sr-only">Pesquisar</span>
              </label>
              <input type="text" id="pesquisar" class="form-control" placeholder="Pesquisar" [(ngModel)]="searchString">
            </div>
            <button type="button" class="sd btn circle primary" (click)="simpleSearch()">
              <span class="fa fa-search fa-lg" aria-hidden="true"></span>
              <span class="sr-only">Pesquisar</span>
            </button>
          </div>-->
        </div>
      </div>

      <!-- Grid -->
      
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Usuários
          <div class="pull-right">
            <button [routerLink]="['/user','edit']" type="button" class="btn btn-success btn-sm">
              <i class="fa fa-plus-circle"></i>&nbsp; Adicionar
            </button>
          </div>
        </div>
      <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <!--<th>
              ID
            </th>-->
            <th>
              <button class="th-button text-left" style="width:100%" (click)="orderBy('firstName', formOrder.firstName)">
                <b>Nome {{formOrder.firstName}}</b>
              </button>
            </th>
            <th>
              <button class="th-button text-left" style="width:100%" (click)="orderBy('perfil', formOrder.perfil)">
                <b>Perfil {{formOrder.perfil}}</b>
              </button>
            </th>
            <th>
              <button class="th-button text-left" style="width:100%" (click)="orderBy('email', formOrder.email)">
                <b>email {{formOrder.email}}</b>
              </button>
            </th>
            <th>
              Ações
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <!--<td>{{user.id}}</td>-->
            <td>{{user.firstName}}</td>
            <td>{{user.perfil}}</td>
            <td>{{user.email}}</td>
            <td class="text-right">
              <a [routerLink]="['/user','view', user.id]" class="btn btn-link btn-sm">Ver</a>
              <a [routerLink]="['/user','edit', user.id]" class="btn btn-link btn-sm">Editar</a>
              <button class="btn btn-danger btn-sm" (click)="showModalDelete(user)">
                <i class="fa fa-times" aria-hidden="true"></i>
                <span class="sr-only">Apagar</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Paginação -->
      <!-- <app-pag
        #pagination
        [itemsPerPage]="itemsPerPage"
        [totalItems]="totalItems"
        (pageChanged)="onPageChange($event)">
      </app-pag>
      -->
      </div>
      </div>
      

      </div>
    </div>
  </div>
</article>

<!-- Janela Modal -->
<div class="modal fade" bsModal #staticModalDelete="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="appSmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-body text-center">
          <span class="fa-stack fa-2x">
          <span class="fa fa-circle fa-stack-2x text-default"></span>
          <span class="fa fa-exclamation-triangle fa-stack-1x text-warning"></span>
          </span>
          <br>
          <br>
          <p id="modal-label">Deseja realmente excluir este item?</p>
          <div class="modal-body" *ngIf="user">
            <form class="form-horizontal" role="form" #userForm="ngForm">
              <div class="form-group">
                <label for="firstName" class="control-label col-sm-3">Nome</label>
                <div class="col-xs-8">
                  <input type="text" id="firstName" class="form-control" name="firstName"
                         [(ngModel)]="user.firstName" disabled="true">
                </div>
              </div>
              <div class="form-group">
                <label for="perfil" class="control-label col-sm-3">Perfil</label>
                <div class="col-xs-8">
                  <input type="text" id="perfil" class="form-control" name="perfil"
                         [(ngModel)]="user.perfil" disabled="true">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="control-label col-sm-3">email</label>
                <div class="col-xs-8">
                  <input type="text" id="email" class="form-control" name="email"
                         [(ngModel)]="user.email" disabled="true">
                </div>
              </div>
              <button type="button" class="btn btn-default icon right" (click)="hideStaticModals()">
              <span class="fa fa-times" aria-hidden="true"></span>
              Não
              </button>
              <button type="submit" class="btn btn-danger icon right" (click)="delete(user)">
              <span class="fa fa-check" aria-hidden="true"></span>
              Sim
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>