
<!-- Conteúdo da página -->
<article>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
          <strong>{{funcao}} Usuário</strong>
      </div>
      <div class="card-body">
      
      <div class="panel-body" style="min-height: 300px;">

      <form class="col-xs-6" role="form" #userForm="ngForm" (ngSubmit)="save(user)">

        <div class="form-group">
          <label for="userId" class="control-label">ID</label>
          <input type="text" id="userId" class="form-control"
            name="userId" [(ngModel)]="user.id"
            disabled="true">
        </div>

        <div class="form-group">
          <label for="name" class="control-label">Nome</label>
          <input type="text" id="name" class="form-control"
            name="name" [(ngModel)]="user.firstName"
            required>
        </div>

        <div class="form-group">
          <label for="perfil" class="control-label">Perfil</label>
          <select class="form-control" name="slctperfil" id="slctperfil" [ngModel]="user.perfil" (change)="changePerfil($event)">
            <option *ngFor="let p of perfis"
              [attr.value]='p.value'
              [attr.selected]="p.value == user.perfil ? true : null">
              {{p.value}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="email" class="control-label">email</label>
          <input type="text" id="email" class="form-control"
            name="email" [(ngModel)]="user.email"
            ngModel #email="ngModel"
            required>
          <div [hidden]="email.valid || (email.pristine && !userForm.submitted)" class="text-danger">
            Insira um email válido!
          </div>
        </div>

        <div class="form-group">
          <label for="userPass" class="control-label">Password</label>
          <input type="password" id="userPass" class="form-control"
            name="userPass" [(ngModel)]="user.pass"
            #userPass="ngModel"

            required>
          <div [hidden]="!(userPass.hasError('required') && userPass.touched)" class="text-danger">
            Campo obrigatório!
          </div>
          
        </div>


        <div class="card-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="goBack()">
              <i class="fa fa-times" aria-hidden="true"></i>
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
              <i class="fa fa-check" aria-hidden="true"></i>
              Salvar
            </button>
          </div>
        </div>

      </form>
      </div>

      </div>
    </div>
  </div>
</article>
