
<!-- Conteúdo da página -->
<article>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
          <strong>Visualizar <%= name.capital %></strong>
      </div>
      <div class="card-body">
      <div class="panel-body" style="min-height: 300px;">

      <form class="col-xs-6" role="form" #<%= name.lower %>Form="ngForm">

        <div class="form-group">
          <b><label for="<%= name.lower %>Id" class="form-control-label">ID</label></b>
          <p id="<%= name.lower %>Id">{{<%= name.lower %>.id}}</p>
        </div>

        <div class="form-group">
          <b><label for="description" class="form-control-label">Descrição</label></b>
          <p id="description">{{<%= name.lower %>.description}}</p>
        </div>


        <hr width="100%">

        <div class="clearfix">
          <div class="pull-left">
            <a [routerLink]="['/<%= name.lower %>']" class="sd btn icon left default">
              <span class="fa fa-chevron-left" aria-hidden="true"></span>
              Voltar à lista
            </a>
          </div>
          <div class="pull-right">
            <a [routerLink]="['/<%= name.lower %>','edit', <%= name.lower %>.id]" class="btn btn-primary">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Editar
            </a>
            <button type="button" class="btn btn-danger" (click)="showModalDelete(<%= name.lower %>)">
              <i class="fa fa-times" aria-hidden="true"></i>
              Exluir
            </button>
          </div>
        </div>

      </form>

      </div>

      </div>
    </div>
  </div>
</article>

<!-- Janela Modal -->
<div class="modal fade" bsModal #staticModalDelete="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="appSmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-body text-center">
          <span class="fa-stack fa-2x">
          <span class="fa fa-circle fa-stack-2x text-default"></span>
          <span class="fa fa-exclamation-triangle fa-stack-1x text-warning"></span>
          </span>
          <br>
          <br>
          <p id="modal-label">Deseja realmente excluir este item?</p>
          <div class="modal-body" *ngIf="<%= name.lower %>">
            <form class="form-horizontal" role="form" #<%= name.lower %>Form="ngForm">
              <div class="form-group">
                <label for="description" class="control-label col-sm-3">Descrição</label>
                <div class="col-xs-8">
                  <input type="text" id="description" class="form-control" name="description"
                         [(ngModel)]="<%= name.lower %>.description" disabled="true">
                </div>
              </div>
              
              <button type="button" class="btn btn-default icon right" (click)="hideStaticModals()">
              <span class="fa fa-times" aria-hidden="true"></span>
              Não
              </button>
              <button type="submit" class="btn btn-danger icon right" (click)="delete(<%= name.lower %>)">
              <span class="fa fa-check" aria-hidden="true"></span>
              Sim
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>