
<!-- Conteúdo da página -->
<article>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
          <strong>{{funcao}} <%= name.capital %></strong>
      </div>
      <div class="card-body">

      <div class="panel-body" style="min-height: 300px;">

      <form class="col-xs-6" role="form" #<%= name.lower %>Form="ngForm" (ngSubmit)="save(<%= name.lower %>)">
        <% properties.forEach(function (property) { %>
        <div class="form-group">
          <label for="<%= name.lower %>-<%= property.name %>" class="control-label"><%= property.name %></label>
          <input type="<%= property.htmlType %>" name="<%= property.name %>" id="<%= name.lower %>-<%= property.name %>" class="form-control" [(ngModel)]="<%= name.lower %>.<%= property.name %>" <%= property.isReadOnly ? 'readonly="true"' : '' %>>
        </div>
        <% }); %>

        <div class="card-footer clearfix">
          <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="goBack()">
              <i class="fa fa-times" aria-hidden="true"></i>
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="<%= name.lower %>Form.invalid">
              <i class="fa fa-check" aria-hidden="true"></i>
              Salvar
            </button>
          </div>
        </div>

      </form>
      </div>

      </div>
    </div>
  </div>
</article>
