<!--
  Form states:
  - ready (create or edit)
  - submitting (disable inputs/actions)
  - submitted (show feedback and enable inputs/actions)
-->
<div class="form-wrapper">
  <form (ngSubmit)="onSubmit()" #<%=name.camel %>Form="ngForm">
    <input type="hidden" name="id" [value]="model.id" />
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" class="form-control" placeholder="Title" required [(ngModel)]="model.title" #title="ngModel"/>
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        <span>Title is required</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!<%=name.camel %>Form.form.valid">Submit</button>
    <!--<button type="reset" class="btn btn-default">Reset</button>-->
  </form>
</div>
