<div class="table-responsive">
  <!-- TODO: filter, sort, showArchivedItems -->
  <!-- TODO: deleteAll, archiveAll -->
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>
          <input type="checkbox" name="select-all" title="Select All" (change)="toggleAll()"/>
        </th>
        <th>ID</th>
        <th>Title</th>
        <th>Created at</th>
        <th>Last update</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td><!-- checkbox --></td>
        <td><!-- ID --></td>
        <td><!-- Title --></td>
        <td><!-- Created at --></td>
        <td><!-- Last update --></td>
        <td><!-- Actions --></td>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let row of list">
        <td>
          <input type="checkbox" name="select-{{ row.id }}" title="Select item {{ row.id }}" (change)="toggleRow(row)"/>
        </td>
        <td>{{ row.id }}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.created_at }}</td>
        <td>{{ row.updated_at }}</td>
        <td>
          <button (ngClick)="edit(row)">Edit</button>
          <button (ngClick)="remove(row)">Remove</button>
          <button (ngClick)="archive(row)">Archive</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- TODO: paginação -->
</div>
