<!DOCTYPE html>
<html ng-app="citrino" lang="pt-br" manifest="manifest.appcache" ng-controller="ApplicationController">

    <head>
        <meta charset="utf-8">
        <title>Catálogo de tecnologia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <link rel="stylesheet" href="layouts/{{css}}.css">
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/timeline.css">
        <link rel="stylesheet" href="styles/timeline/timeline.css">
        <link rel="stylesheet" href="styles/fluxo.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/animate.css">
        <!--        <link rel="stylesheet" href="styles/nga.css">-->
        <!-- endbuild -->

        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <!--<link rel="stylesheet" href="bower_components/angular-grid/ng-grid.css" />-->
    </head>

    <!--body logged-in-->
    <body class="animated">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">
                        <img alt="Catálogo de tecnologia" src="images/citrino.png" style="width: 6.5em; margin-top: -8px;">
                    </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="#">Processo</a></li>
                        <li><a href="#">Ajuda</a></li>
                        <li class="dropdown" ng-controller="AuthController">
                            <a href="#login" ng-if="!currentUser">
                                <span class="ng-binding"> <i class="glyphicon glyphicon-log-in"></i> Entrar</span>
                            </a>
                            <a href="#login" ng-if="currentUser" ng-click="logout()">
                                <span class="ng-binding">Sair <i class="glyphicon glyphicon-log-out"></i> </span>
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" ng-controller="BuscaFTSController">
                        <input type="text" class="form-control" placeholder="Procurar..." ng-model="textoBusca" ng-enter="buscaFTS(textoBusca)">
                    </form>
                </div>
            </div>
            <div ui-linhabar></div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">

                        <li ng-if="currentUser">
                            <a href="#profile"><i class="glyphicon glyphicon-user"></i> {{currentUser.name| limitTo:30}}{{currentUser.name.length > 100 ? '...' : ''}}</a>
                        </li>

                        <li>
                            <a href="#dashboard"><i class="glyphicon glyphicon-stats"></i> Painel</a>
                        </li>

                        <li>
                            <a href="#/">
                                <i class="glyphicon glyphicon-inbox"></i> Fases
                            </a>
                            <ul class="nav nav-second-level active">
                                <li>
                                    <a href="#pesquisa/fases">
                                        <i class="glyphicon glyphicon-list"></i> Pesquisa
                                    </a>
                                </li>
                                <li ng-if="currentUser" has-roles="USER_ROLES.ADMINISTRADOR, USER_ROLES.ANALISE">
                                    <a href="#analise/edit">
                                        <i class="glyphicon glyphicon-plus-sign"></i> Nova Análise
                                    </a>
                                </li>
                                <li ng-if="currentUser" has-roles="USER_ROLES.ADMINISTRADOR, USER_ROLES.LEGADO">
                                    <a href="#legado/edit">
                                        <i class="glyphicon glyphicon-plus-sign"></i> Legado
                                    </a>
                                </li>
                            </ul>
                            <a href="#/">
                                <i class="glyphicon glyphicon-inbox"></i> Produtos
                            </a>
                            <ul class="nav nav-second-level active">
                                <li>
                                    <a href="#pesquisa/produto">
                                        <i class="glyphicon glyphicon-list"></i> Pesquisa Produto
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#/">
                                <i class="glyphicon glyphicon-edit"></i> Cadastros
                            </a>
                            <ul class="nav nav-second-level">
                                <li><a href="#referencia">Referência</a></li>
                                <li><a href="#licenciamento">Licenciamento</a></li>
                                <li><a href="#fabricante">Fabricante</a></li>
                                <li><a href="#fornecedor">Fornecedor</a></li>
                                <li><a href="#plataformaTecnologica">Plataforma Tecnológica</a></li>
                                <li><a href="#tema">Tema</a></li>
                                <li><a href="#produto">Produto</a></li>
                                <li ><a href="#equipamento">Equipamento</a></li>
                                <li ng-if="currentUser" has-roles="USER_ROLES.ADMINISTRADOR, USER_ROLES.SISTEMA"><a href="#sistema">Sistema</a></li>
                                <li ng-if="currentUser" has-roles="USER_ROLES.ADMINISTRADOR"><a href="#grupo">Grupo</a></li>
                                <li ng-if="currentUser" has-roles="USER_ROLES.ADMINISTRADOR"><a href="#usuario">Usuário</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#/sobre">
                                <i class="glyphicon glyphicon-asterisk"></i> Sobre o Catálogo de Tecnologia
                            </a>
                        </li>
                        <li>
                            <a href="/bi">
                                <i class="glyphicon glyphicon-stats"></i> Análise, Relatórios e API
                            </a>
                        </li>
                        <li>
                            <a href="#dashboard">
                                <i class="glyphicon glyphicon-eye-open"></i> Conectados: {{conectados}}
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view>
                </div>
                <alerts></alerts>
            </div>

        </div>
        <div class="container-fluid">
            <div class="footer">
                <a href="http://git.serpro/CETEC/catalogotecnologia" target="_blank">
                    <img src="https://git.serpro/uploads/appearance/header_logo/1/serprologo.png" style="width: 1.5em;"></a>
                </a>
                SERPRO/CETEC/CTCTA
                <a href="https://www.frameworkdemoiselle.gov.br" target="_blank">
                    <img src="images/demoiselle.png" style="width: 3em;"/>
                </a>
            </div>
        </div>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/ng-grid/build/ng-grid.js"></script>
        <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
        <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
        <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/bootbox/bootbox.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/angular-notification/angular-notification.js"></script>
        <script src="bower_components/ng-websocket/ng-websocket.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/filters/i18n.js"></script>
        <script src="scripts/directives/directives.js"></script>
        <script src="scripts/filters/filters.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/services.js -->
        <script src="scripts/services/alert.js"></script>
        <script src="scripts/services/fabricante.js"></script>
        <script src="scripts/services/licenciamento.js"></script>
        <script src="scripts/services/tema.js"></script>
        <script src="scripts/services/fornecedor.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/app.js"></script>
        <script src="scripts/services/grupo.js"></script>
        <script src="scripts/services/perfil.js"></script>
        <script src="scripts/services/plataformatecnologica.js"></script>
        <script src="scripts/services/produto.js"></script>
        <script src="scripts/services/pesquisa-produto-anterior.js"></script>
        <script src="scripts/services/pesquisar-produtos.js"></script>
        <script src="scripts/services/usuario.js"></script>
        <script src="scripts/services/validation.js"></script>
        <script src="scripts/services/fase.js"></script>
        <script src="scripts/services/analise.js"></script>
        <script src="scripts/services/membro.js"></script>
        <script src="scripts/services/interessado.js"></script>
        <script src="scripts/services/anexo.js"></script>
        <script src="scripts/services/observacao.js"></script>
        <script src="scripts/services/declinio.js"></script>
        <script src="scripts/services/dashboard.js"></script>
        <script src="scripts/services/prospeccao.js"></script>
        <script src="scripts/services/internalizacao.js"></script>
        <script src="scripts/services/documento.js"></script>
        <script src="scripts/services/sustentacao.js"></script>
        <script src="scripts/services/pesquisa-fases.js"></script>
        <script src="scripts/services/legado.js"></script>
        <script src="scripts/services/fts.js"></script>
        <script src="scripts/services/sobre.js"></script>
        <script src="scripts/services/referencia.js"></script>
        <script src="scripts/services/sistema.js"></script>
        <script src="scripts/services/equipamento.js"></script>
        <script src="scripts/services/proxima-fase.js"></script>
        <script src="scripts/services/historico.js"></script>
        <script src="scripts/services/ws.js"></script>

        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/controllers.js -->
        <script src="scripts/controllers/application.js"></script>
        <script src="scripts/controllers/fabricante.js"></script>
        <script src="scripts/controllers/licenciamento.js"></script>
        <script src="scripts/controllers/tema.js"></script>
        <script src="scripts/controllers/fornecedor.js"></script>
        <script src="scripts/controllers/auth.js"></script>
        <script src="scripts/controllers/grupo.js"></script>
        <script src="scripts/controllers/plataformatecnologica.js"></script>
        <script src="scripts/controllers/produto.js"></script>
        <script src="scripts/controllers/pesquisa-produto-anterior.js"></script>
        <script src="scripts/controllers/pesquisar-produtos.js"></script>
        <script src="scripts/controllers/usuario.js"></script>
        <script src="scripts/controllers/analise.js"></script>
        <script src="scripts/controllers/fluxo.js"></script>
        <script src="scripts/controllers/anexo.js"></script>
        <script src="scripts/controllers/observacao.js"></script>
        <script src="scripts/controllers/membro.js"></script>
        <script src="scripts/controllers/interessado.js"></script>
        <script src="scripts/controllers/anexo.js"></script>
        <script src="scripts/controllers/declinio.js"></script>
        <script src="scripts/controllers/produtos-da-fase.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/prospeccao.js"></script>
        <script src="scripts/controllers/internalizacao.js"></script>
        <script src="scripts/controllers/sustentacao.js"></script>
        <script src="scripts/controllers/pesquisa-fases.js"></script>
        <script src="scripts/controllers/legado.js"></script>
        <script src="scripts/controllers/buscaFTS.js"></script>
        <script src="scripts/controllers/sobre.js"></script>
        <script src="scripts/controllers/referencia.js"></script>
        <script src="scripts/controllers/fluxo-produto.js"></script>
        <script src="scripts/controllers/sistema.js"></script>
        <script src="scripts/controllers/sistema-produto.js"></script>
        <script src="scripts/controllers/sistema-usuario.js"></script>
        <script src="scripts/controllers/equipamento.js"></script>
        <script src="scripts/controllers/proxima-fase.js"></script>
        <script src="scripts/controllers/historico.js"></script>
        <script src="scripts/controllers/produto-seguir.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <!-- endbuild -->

        <script src="scripts/libs/citrinoConfig.js"></script>
        <script src="scripts/libs/ckeditor/ckeditor.js"></script>
        <script src="scripts/libs/timeline/timeline.js"></script>
        <script src="scripts/libs/timeline/timeline-locales.js"></script>

    </body>

</html>
